@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');  
        
        h1 {font-family: Poppins; text-align: center; color: rgb(24, 42, 54); font-weight: 200; margin-top: -20px; opacity: 1;margin-block-end: 0;}
        p {font-family: Poppins; text-align: center; margin-top: 30px;}
        h2 {font-family: Poppins; text-align: center; margin-top: 0px; font-size: 20px; font-weight: normal;}
        button {
                font-family: Poppins;
        }
        #btn{
                position: relative;
                background-color: dodgerblue;
                font-family: Poppins;
                left: 45%;
                border-radius: 100px;
            
            border-style: none;
            outline: none;
            
        }
        #btn:hover{
                transform: scale(1.5);
        }
        
        #txt{
                
                height: 600px;
                width: 800px;
                margin: 0 auto;
                top: 12%;
                position:absolute;
                
                left: 50%;
                margin-left: -400px;
        }
        #ttl{
                
                height: 40px;
                opacity: 1;
                z-index: 1;
                background-color: rgb(199, 199, 199);
                padding: 30px; /* Some padding */
                
                
                font-size: 20px; /* Big font size */
                left: -2%;
                position: fixed; /* Fixed position - sit on top of the page */
                top: -2%;
                width: 100%; /* Full width */
        }
        .animate__animated.animate__fadeIn {
                --animate-duration: 3s;
              }